
.subject{
	display: block;
	font-size: 40px;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	border-bottom:5px solid black;
}

.active {
	font-weight: bold;
	font-size: 30px;
	margin: 10px 20px 15px 5px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	background: -webkit-linear-gradient(#EBEBEB, white);
	background: -o-linear-gradient(#EBEBEB, white);
	background: -moz-linear-gradient(#EBEBEB, white);
	background: linear-gradient(#EBEBEB, white);
	border-radius:5px 5px 0px 0px;
	padding:10px;
	padding-bottom:5px;
}

.active_content{
	font-weight:bold;
	font-size;18px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	padding:10px;
	margin: 0px 15px 40px 30px;
	padding-right:50px;
	padding-top:0px;
}

.active_content .image_div{
	width:100%;
	text-align:center;
	margin-top:30px;
}

.active_sublist{
	font-weight: bold;
	font-size: 25px;
	margin: 10px 20px 10px 10px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	padding:10px;
	padding-bottom:0px;
}

.active_sublist_content{
	font-weight:bold;
	font-size;18px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	padding:10px;
	margin: 0px 15px 15px 60px;
	padding-right:50px;
	padding-top:0px;
}

.target{
	font-weight: bold;
	font-size: 14px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	font-size:20px;
	width:100%;
	//background:;
	margin-left:15px;
}

.target li{
	list-style-type:square;
}

.subtarget{
	color: #191970;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	font-size:15px;
	font-weight: bold;
	padding-left:10px;
	margin-top:5px;
	margin-right:50px;
}

.target_content{
	margin: 10px 20px 15px 5px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
}


.sub-target-content{
	margin: 20px 40px 35px 40px;
	padding: 10px 20px 10px 27px;
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	font-size:14px;
	border:1px solid #dadada;
	border-radius:8px;
}
