/*******************************************************************************
 * Tree container

 Lion colors:
	gray highlight bar: #D4D4D4
	blue highlight-bar and -border #3875D7


 */
.ui-helper-hidden {
	display: none;
}

.easytree-container
{
	font-family: Malgun Gothic, tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 35px;
	margin: 0; /* issue 201 */
	background: transparent;
	height: 100%; /* issue 263 */
}

.easytree-container:focus {
    outline: none;
}

ul.easytree-container ul
{
	padding: 0 0 0 16px;
	margin: 0;
}

.easytree-container ul:focus {
    outline: none;
}

ul.easytree-container li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin:0;
	padding:1px 0 0 0;
}
/* Suppress lines for last child node */
ul.easytree-container li.easytree-lastsib
{
	background-image: none;
}
/* Suppress lines if level is fixed expanded (option minExpandLevel) */
ul.easytree-no-connector > li
{
	background-image: none;
}

/* Style, when control is disabled */
.ui-easytree-disabled ul.easytree-container
{
	opacity: 0.5;
/*	filter: alpha(opacity=50); /* Yields a css warning */
	background-color: silver;
}


/*******************************************************************************
 * Common icon definitions
 */
span.easytree-empty,
span.easytree-vline,
/*span.easytree-connector,*/
span.easytree-expander,
span.easytree-icon,
span.easytree-checkbox,
span.easytree-radio,
span.easytree-drag-helper-img,
#easytree-drop-marker
{
	width: 16px;
	height: 16px;
	display: inline-block; /* Required to make a span sizable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("icons.gif");
	background-position: 0 0;
}
/** Used by iconclass option */
span.easytree-custom-icon {
	display: inline-block;
}
/** Used by 'icon' node option: */
.easytree-container img
{
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
	border-style: none;
}


/*******************************************************************************
 * Lines and connectors
 */
/* span.easytree-connector
{
	background-image: none;
}
 */
/*******************************************************************************
 * Expander icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: easytree-exp-
 * 1st character: 'e': expanded, 'c': collapsed, 'n': no children
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling
 */

span.easytree-expander
{
	background-position: 0px -80px;
	cursor: pointer;
}
span.easytree-expander:hover { 	background-position: -16px -80px; }
.easytree-exp-n span.easytree-expander:hover /* Collapsed, not delayed, not last sibling */
{
	background-position: -16px -80px;
}
.easytree-exp-cl span.easytree-expander /* Collapsed, not delayed, last sibling */
{
}
.easytree-exp-cd span.easytree-expander /* Collapsed, delayed, not last sibling */
{
}
.easytree-exp-cdl span.easytree-expander /* Collapsed, delayed, last sibling */
{
}
.easytree-exp-e span.easytree-expander,  /* Expanded, not delayed, not last sibling */
.easytree-exp-ed span.easytree-expander,  /* Expanded, delayed, not last sibling */
.easytree-exp-el span.easytree-expander,  /* Expanded, not delayed, last sibling */
.easytree-exp-edl span.easytree-expander  /* Expanded, delayed, last sibling */
{
	background-position: -32px -80px;
}
.easytree-exp-e span.easytree-expander:hover,  /* Expanded, not delayed, not last sibling */
.easytree-exp-ed span.easytree-expander:hover,  /* Expanded, delayed, not last sibling */
.easytree-exp-el span.easytree-expander:hover,  /* Expanded, not delayed, last sibling */
.easytree-exp-edl span.easytree-expander:hover  /* Expanded, delayed, last sibling */
{
	background-position: -48px -80px;
}
.easytree-loading span.easytree-expander  /* 'Loading' status overrides all others */
{
	background-position: 0 0;
	background-image: url("loading.gif");
}

.easytree-exp-n span.easytree-expander, /* Connector instead of expander, if node has no children */
.easytree-exp-nl span.easytree-expander
{
	background-image: none;
	cursor: default;
}


/*******************************************************************************
 * Checkbox icon
 */
span.easytree-checkbox {
	margin-left: 3px;
	background-position: 0px -32px;
}
span.easytree-checkbox:hover { background-position: -16px -32px; }
.easytree-partsel span.easytree-checkbox { background-position: -64px -32px; }
.easytree-partsel span.easytree-checkbox:hover { background-position: -80px -32px; }
.easytree-selected span.easytree-checkbox { background-position: -32px -32px; }
.easytree-selected span.easytree-checkbox:hover { background-position: -48px -32px; }

/*******************************************************************************
 * Radiobutton icon
 */
.easytree-radio span.easytree-checkbox {
	margin-left: 3px;
	background-position: 0px -48px;
}
.easytree-radio span.easytree-checkbox:hover { background-position: -16px -48px; }
.easytree-radio .easytree-partsel span.easytree-checkbox { background-position: -64px -48px; }
.easytree-radio .easytree-partsel span.easytree-checkbox:hover { background-position: -80px -48px; }
.easytree-radio .easytree-selected span.easytree-checkbox { background-position: -32px -48px; }
.easytree-radio .easytree-selected span.easytree-checkbox:hover { background-position: -48px -48px; }

/*******************************************************************************
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: easytree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 */
span.easytree-icon /* Default icon */
{
	margin-left: 3px;
	background-position: 0px 0px;
}
.easytree-ico-cf span.easytree-icon { background-position: 0px -16px; } /* Collapsed Folder */
.easytree-ico-ef span.easytree-icon { background-position: -64px -16px; } /* Expanded Folder */
.easytree-statusnode-wait span.easytree-icon { background-image: url("loading.gif"); } /* Status node icons */
.easytree-statusnode-error span.easytree-icon { background-position: 0px -112px; }

/*******************************************************************************
 * Node titles
 */
.easytree-title {
	display: inline-block; /* Better alignment, when title contains <br> */
	padding-left: 3px;
	padding-right: 3px; /* Otherwise italic font will be outside bounds */
	color: black; /* inherit doesn't work on IE */
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
/*    border: 1px solid white; /* reserve some space for status borders (Note: 'transparent' would not work in IE6) */
	border: 1px solid transparent; /* reserve some space for status borders */
	border-radius: 0;
	text-decoration: none;
	cursor: pointer;
}
.easytree-title a {
    text-decoration: none;
    color: inherit;
}
span.easytree-focused .easytree-title {
	outline: 1px dotted black;
	color: white;
}
span.easytree-selected .easytree-title,
span.easytree-active .easytree-title {
	background-color: #D4D4D4; /*gray*/
}
span.easytree-selected .easytree-title {
	font-style: italic;
}
.easytree-focused span.easytree-selected .easytree-title,
.easytree-focused span.easytree-active .easytree-title {
	color: white;
	background-color: #3875D7; /*blue*/
}

/*******************************************************************************
 * 'table' extension
 */

/*
table.easytree-ext-table {
	border-collapse: collapse;
	width: 100%;
}
table.easytree-ext-table tbody tr:nth-child(even){
	background-color: #f4f4f8;
}
table.easytree-ext-table tbody tr td {
	border: 1px solid lightgray;
}
*/
table.easytree-ext-table {
	border-collapse: collapse;
}
table.easytree-ext-table tbody tr.easytree-focused {
	background-color: #99DEFD;
}
table.easytree-ext-table tbody tr.easytree-active {
	background-color: royalblue;
}
table.easytree-ext-table tbody tr.easytree-selected {
	background-color: #99FDDE;
}

/*******************************************************************************
 * 'columnview' extension
 */

/*
table.easytree-ext-columnview {
	border-collapse: collapse;
	width: 100%;
}
*/
table.easytree-ext-columnview td >ul
{
	padding: 0;
}
table.easytree-ext-columnview td >ul li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin: 0;
	padding: 1px 0 0 0;
}
/*
table.easytree-ext-columnview tbody tr[0] {
	height: 200px;
}
*/
table.easytree-ext-columnview tbody tr td {
	border: 1px solid gray;
	vertical-align: top;
	overflow: auto;
}
table.easytree-ext-columnview span.easytree-node {
	display: inline-block;
	position: relative; /* allow positioning of embedded spans*/
	width: 100%;
}
table.easytree-ext-columnview span.easytree-node a{
	border: 1px solid transparent;
	background-color: transparent;
}
table.easytree-ext-columnview span.easytree-node.easytree-expanded {
	background-color: #ccc;
}
table.easytree-ext-columnview span.easytree-node.easytree-active {
	background-color: royalblue;
}
table.easytree-ext-columnview span.easytree-cv-right {
	background-position: 0px -80px;
	position: absolute;
	right: 3px;
}


/*******************************************************************************
 * 'filter' extension
 */
.easytree-ext-filter span.easytree-node .easytree-title {
	color: silver;
	font-weight: lighter;
}
.easytree-ext-filter span.easytree-node.easytree-submatch .easytree-title {
	color: black;
	font-weight: normal;
}
.easytree-ext-filter span.easytree-node.easytree-match .easytree-title {
	color: black;
	font-weight: bold;
}


/*******************************************************************************
 * Drag'n'drop support
 */

/*** Helper object ************************************************************/
div.easytree-drag-helper
{
    display:none; 
    position: absolute; 
    z-index: 1000; 
    height:20px;
    width:20px;
}
div.easytree-drag-helper a
{
	border: 1px solid gray;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.8;
}
span.easytree-drag-helper-img
{
	/*
	position: relative;
	left: -16px;
	*/
}
div.easytree-drag-helper /*.easytree-drop-accept*/
{
/*    border-color: green;
	background-color: red;*/
}
div.easytree-drop-accept span.easytree-drag-helper-img
{
	background-position: -32px -112px;
}
div.easytree-drag-helper.easytree-drop-reject
{
	border-color: red;
}
div.easytree-drop-reject span.easytree-drag-helper-img
{
	background-position: -16px -112px;
}

/*** Drop marker icon *********************************************************/

#easytree-drop-marker
{
	width: 24px;
	position: absolute;
	background-position: 0 -128px;
	margin: 0;
}
#easytree-drop-marker.easytree-drop-after,
#easytree-drop-marker.easytree-drop-before
{
	width:64px;
	background-position: 0 -144px;
}
#easytree-drop-marker.easytree-drop-copy
{
	background-position: -64px -128px;
}
#easytree-drop-marker.easytree-drop-move
{
	background-position: -64px -128px;
}

/*** Source node while dragging ***********************************************/

span.easytree-drag-source
{
	/* border: 1px dotted gray; */
	background-color: #e0e0e0;
}
span.easytree-drag-source a
{
	color: gray;
}

/*** Target node while dragging cursor is over it *****************************/

span.easytree-drop-target
{
	/*border: 1px solid gray;*/
}
span.easytree-drop-target a
{
}
span.easytree-drop-target.easytree-drop-accept a
{
	/*border: 1px solid green;*/
	background-color: #3169C6 !important;
	color: white !important; /* @ IE6 */
	text-decoration: none;
}
span.easytree-drop-target.easytree-drop-reject
{
	/*border: 1px solid red;*/
}
span.easytree-drop-target.easytree-drop-after a
{
}
